@font-face { 
    font-family: "Maxis Semibold";
    src: url(../../../../fonts/Maxis-Semibold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face { 
    font-family: "Maxis Regular";
    src: url(../../../../fonts/Maxis-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

body {
    background: #eeeeee;
    min-height: 100vh;
    margin: auto;
    position: relative;
    font-family: "Maxis Semibold";
}

.login2 {
    padding: 80px;
    background: #005f68;
    min-height: 100vh;
}

.welcome {
    font-family: "Maxis Semibold" !important;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #115e67;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.18;
}

.support {
    font-family: "Maxis Semibold" !important;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #115e67;
}

.email {
    font-family: "Maxis Regular" !important;
    font-size: 12px;
    text-decoration: underline;
    text-align: left;
    color: #115e67;
}


.login2 .btn-primary {
    font-family: "Maxis Semibold" !important;
    font-size: 14px;
    background: #40C706;
    border-color: #40C706;
    height: 50px;
    letter-spacing: 2.5px;
}

.login2 .btn-primary .btn-block {
    margin: auto;

}

.login2 .login-wrapper {
    max-width: 628px;
    min-height: 400px;
    margin: auto;
    padding: 50px 95px 45px;
    border-radius: 14px;
    text-align: center;
    background-color: white;

}

.login2 .login-wrapper img {
    margin: 40px auto;
}
/*
.login2 .login-wrapper .input-group-addon {
    padding: 8px 0;
    background: #f4f4f4;
    min-width: 48px;
    text-align: center;
}
*/

.login2 .login-wrapper .input-group-addon i.falock {
    font-size: 18px;
}

.login2 .login-wrapper input.form-control {
    width: 100%;
    height: 48px;
    font-size: 15px;
    box-shadow: none;
    color: #40c706 !important;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.login2 .login-wrapper .checkbox {
    margin-bottom: 30px;
}

.login2 .login-wrapper input[type="submit"] {
    padding: 10px 0 12px;
    margin: 20px 0 30px;
}

.login2 .login-wrapper input[type="submit"]:hover {
    background: transparent;
}

.login2 .login-wrapper .social-login {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

.login2 .login-wrapper .social-login > .btn {
    width: 49%;
    margin: 0;
}

.login2 .login-wrapper .social-login .facebook {
    background-color: #335397;
    border-color: #335397;
}

.login2 .login-wrapper .social-login .facebook:hover {
    background-color: transparent;
    color: #335397;
}

.login2 .login-wrapper .social-login .twitter {
    background-color: #00c7f7;
    border-color: #00c7f7;
}

.login2 .login-wrapper .social-login .twitter:hover {
    background-color: transparent;
    color: #00c7f7;
}