.widget-container.device-stats
  .col-xs-3
    .number.color-blue
      .icon.fa.fa-mobile.visitors
      span(class='counter', data-type='total') 0
    .text(translate) Total Devices
  .col-xs-3
    .number.color-green
      .icon.fa.fa-check-circle-o.visitors
      span(class='counter', data-type='usable') 0
    .text(translate) Available Devices
  .col-xs-3
    .number.color-pink
      .icon.fa.fa-exclamation-circle.visitors
      span(class='counter', data-type='busy') 0
    .text(translate) Devices In Use
  .col-xs-3
    .number.color-orange
      .icon.fa.fa-user-secret.visitors(ng-class='{"fa-trophy": $root.adminMode, "fa-user-secret": !$root.adminMode}')
      span(class='counter', data-type='using') 0
    .text(ng-bind='currentUser.name')
